.wishlistText {
  margin-left: 100px;
  padding: 0 !important;
  margin-bottom: 59px;
  margin-top: 38px !important;
}

.wishlistText img {
  width: 16px;
  height: 12px;
}

.wishlistText span {
  font-size: 27px;
  font-weight: 600;
}

.wishlistText span:first-child {
  margin-right: 14px;
}

.wishlistText span:last-child {
  margin-left: 14px;
}

.order__container {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
}

.order__container .order__wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 36px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order__container .order__wraper .order__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 685px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__container .order__wraper .order__details .order__img {
  width: 185px;
  height: 181px;
}

.order__container .order__wraper .order__details .order__img img {
  width: 100%;
  height: 100%;
  background: #c4c4c4;
  border-radius: 16.2541px;
}

.order__container .order__wraper .order__details .order__description {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1.5rem;
}

.order__container .order__wraper .order__details .order__description h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
}

.order__container .order__wraper .order__details .order__description .order__qty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order__container .order__wraper .order__details .order__description .order__qty p.ordered__qty {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 7px;
}

.order__container .order__wraper .order__details .order__description .order__qty p.ordered__price {
  margin-bottom: 0 !important;
  text-align: left;
}

.order__container .order__wraper .order__details .order__description .order__qty p.ordered__price i {
  font-size: 26px;
  font-weight: 600;
  margin-right: 4px;
}

.order__container .order__wraper .order__details .order__description .order__qty p.ordered__price span {
  font-size: 30px;
  font-weight: 600;
}

.order__container .order__wraper .order__details .order__description .delivery__text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 6px;
}

.order__container .order__wraper .order__details .order__description .order__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__container .order__wraper .order__details .order__description .order__rating .star__icon .react-stars span {
  font-size: 35px !important;
  margin-right: 11px;
}

.order__container .order__wraper .order__details .order__description .order__rating p {
  font-size: 19px;
  font-weight: 500;
  margin-left: 32px;
  margin-bottom: 0 !important;
}

.order__container .order__wraper .order__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 407px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1.5rem;
  padding-left: 15px;
}

.order__container .order__wraper .order__buttons .order__cancelBtn {
  margin-right: 10px;
  width: 202px;
  height: 64px;
  background-color: #fff;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: black;
}

.order__container .order__wraper .order__buttons .order__helpBtn {
  padding: 10px;
  width: 202px;
  height: 64px;
  border: none;
  background: #3c83e6;
  border-radius: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
}

.order__container .add__more {
  margin-top: 100px;
  margin-bottom: 133px;
}

.order__container .add__more h3 {
  margin-bottom: 26px;
  text-align: center;
  font-size: 45px;
  font-weight: 600;
}

.order__container .add__more button {
  height: 78px;
  width: 288px;
  background-color: #3c83e6;
  margin: 0 auto;
  display: block;
  font-size: 27px;
  color: #ffffff;
}

.submit__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.submit__container .submit__wrapper h1 {
  text-align: center;
  margin-bottom: 21px;
  font-size: 45px;
  font-weight: 600px;
}

.submit__container .submit__wrapper p {
  font-size: 22px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 52px;
}

.submit__container .submit__wrapper button {
  display: block;
  margin: 0 auto;
}

.submit__container .submit__wrapper .submit__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 52px;
}

.submit__container .submit__wrapper .submit__img img.order__img {
  width: 267px;
  height: 267px;
}
/*# sourceMappingURL=main.css.map */