.one {
    width: 13px;
    height: 3px;
    background-color: white;  
    margin: 0 0 0 13px;
  }

  .two {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
  }
  .three {
    width: 13px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
  }











































