.fees_details_container{

margin-top: 100px;
margin-left: 20px;
margin-right: 20px;
}

.filter_icon{

float: right;
margin-right: 10px;
margin-bottom: 10px;

}

.fees_table{
    clear: both;

}









