.admin_container{

    margin-top: 90px;
    margin-left: 20px;
    margin-right: 20px;
    clear: both;
    }

.add_button{
    margin-top: 80px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-top: 30px;
    float: right;
}
