.personal_information{
    margin: 10px;
}

.personal_form{
    margin-top: 20px;
    justify-content: flex-start;
    display: flex;
}

.gender{
    font-size: 1rem;
    color: gray;
    font-weight: bold;
    
    margin-bottom: 6px;
}

.email_info{
    margin-top: 20px;
    justify-content: flex-start;
    display: flex;

}

.deactivate_account{
    margin-top: 15px;
    margin-bottom: 10px;
}








