.addprincipal_container{
    margin-top: 100px;
margin-left: 20px;
margin-right: 20px;
}

.addprincipal_icon{
    float: right;
margin-right: 10px;
margin-bottom: 10px;

}

.addprincipal_table{
    clear: both;

}

