.noticeboard_container{
    margin-top: 100px;
margin-left: 20px;
margin-right: 20px;
}

.add_icon{
    float: right;
margin-right: 10px;
margin-bottom: 10px;

}

.noticeboard_table{
    clear: both;

}



