.box {
	width: 50%;
	height: 200px;
	background: #fff;
	margin: 40px auto;
}
.effect8 {
	position: relative;
	box-shadow: 0px 0px 10px #cccccc;
}

.form {
	display: flex;
	align-items: center;
	justify-content: center;
}

.changeInputSize {
	padding-right: 3rem;
}

.logincontainer {
	display: flex;
	flex-direction: column;
	background-color: #989898;
}

.logoimg {
	margin: auto;
	/* background-color: gray; */
	width: 30vw;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loginImg {
	width: 100%;
	/* justify-content: space-evenly; */
	align-items: center;
}

.input {
	min-height: 60px;
	min-width: 25vw;
}

.button {
	min-width: 25vw;
}

.forgetlink {
	font-size: 0.8rem;
	text-align: center;
	margin-left: 15px;
}

.signup {
	font-size: 0.8rem;
	margin-top: 20px;
	text-align: center;
	margin-left: 15px;
}

.signInForm {
	position: relative;
	width: 550px;
	max-height: 800px;
	background: rgb(255, 255, 255);
	border-radius: 52px;
	left: 210px;
}

.signup a,
.forgetlink a {
	text-decoration: none;
	cursor: pointer;
	color: #ffffff !important;
}

.rememberBoxLogin {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.forgettext {
	width: 100%;
	padding-top: 10px;
	padding-left: 20px;
	display: inline-block;
}

.signInUserLogo {
	background-image: url(/static/media/signInImg.b008e250.png);
	width: 150px;
	height: 150px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: -20px;
	border-radius: 4px 49px;
}

.signInUserLogo img {
	width: 50px !important;
	height: 45px !important;
	margin: 2.3rem 0 0 3.5rem;
}
.scrollBtn {
	box-shadow: 2px #5e5e5e;
}

.rememberBox {
	margin-left: 5px;
}

.inputClass {
	background-color: #eeeeee;
}

.hr-sect {
	padding-right: 30px;
}

.connectWith {
	margin-bottom: 30px;
	padding-right: 30px;
}
